@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

a {
  text-decoration: none;
}

ul li {
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  line-height: normal;
}

button,
label {
  cursor: pointer;
}

body {
  line-height: 1;
  font-family: "Mulish", sans-serif;
  color: #373F41;
  right: 165px;
  left: 165px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

ul li {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #373F41;
}

#login {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #3C64B1;
}

#star {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  background: #3C64B1;
}

h2 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
}

h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

ul {
  list-style-type: none;
  position: fixed;
}

.menu {
  background: rgb(196, 173, 173);
  margin-top: -2%;
  align-items: center;
}
.menu .logo {
  margin-top: 1%;
  align-items: center;
  float: left;
  user-select: none;
  position: fixed;
}
.menu .header-menu {
  margin-left: 30%;
  margin-top: 40px;
  align-items: center;
  text-align: center;
}
.menu .header-menu .main-menu {
  padding-left: 18px;
}
.menu .header-menu .main-menu li {
  float: left;
}
.menu .header-menu .main-menu .item {
  color: #373F41;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin: 0 32px;
  display: flex;
  justify-content: content;
}
.menu .header-menu .main-menu .item a:hover {
  color: aqua;
}
.menu .btn {
  margin-top: 1%;
  margin-right: 2%;
  text-align: center;
  align-items: center;
  display: block;
  float: right;
}
.menu .btn #star {
  position: fixed;
  padding: 12px 18px;
  margin-right: 50px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 18px;
}
.menu .btn #star:hover {
  background-color: aqua;
}
.menu .btn #login {
  margin-left: -3%;
  position: fixed;
  padding: 12px 0px;
  color: #3C64B1;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.menu .btn #login:hover {
  background-color: aqua;
}
.menu li i {
  margin-right: 3%;
  list-style: none;
  float: right;
  display: none;
}
.menu li i:hover {
  color: aqua;
}

.btn {
  text-align: center;
  align-items: center;
  display: block;
  float: right;
}
.btn #star {
  margin-right: 50px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 18px;
}
.btn #star:hover {
  background-color: aqua;
}
.btn #login {
  color: #3C64B1;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.btn #login:hover {
  background-color: aqua;
}

@media screen and (max-width: 320px) {
  .logo img {
    width: 15px;
    height: 0px;
  }

  .main-menu {
    display: none;
  }

  .btn #star {
    display: none;
  }
  .btn #login {
    display: none;
  }

  .btn-bars {
    margin-left: 20%;
  }
}
@media all and (max-width: 767px) {
  .menu .logo {
    margin-top: -1%;
    display: block;
    width: 100%;
  }
  .menu .main-menu ul li {
    max-width: 100%;
    display: block;
    flex-direction: column;
  }
  .menu .btn {
    margin-top: -5%;
  }
  .menu .btn-bars i {
    margin-top: -6%;
    display: block;
    margin-right: 35%;
  }
}
@media screen and (max-width: 768px) {
  .menu .logo {
    margin-left: 2%;
    margin-top: -1%;
  }
  .menu .header-menu {
    display: block;
    margin-left: 100px;
  }
  .menu .btn {
    margin-left: 85%;
    float: left;
    position: initial;
  }
  .menu .btn #star {
    padding: 8px 13px;
  }
  .menu .btn #login {
    padding: 10px 0;
  }
}
@media screen and (max-width: 1415px) {
  .btn {
    margin-right: 5%;
    position: initial;
  }
}
@media screen and (max-width: 1427px) {
  .logo img {
    width: 130px;
    height: 50px;
  }

  .btn {
    position: initial;
  }
}
.content {
  background-image: url(/img/bg.png);
  margin: 0 auto;
  position: absolute;
  height: 560px;
  left: 0px;
  right: 0px;
  top: 88px;
}
.content .text-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 730px;
  height: 286px;
  left: calc(50% - 365px);
  top: calc(50% - 143px);
}
.content .text-content h2 {
  /* Simplify your online shipping for free this month! */
  position: static;
  top: 0px;
  /* H2 - bold 44 (56, 0.2px) */
  font-size: 44px;
  line-height: 56px;
  /* or 127% */
  letter-spacing: 0.2px;
  /* Light / Black */
  color: #373F41;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px auto;
}
.content .text-content .text-contentP {
  color: #737B7D;
  margin: 32px auto;
}
.content .text-content .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  width: 274px;
  height: 42px;
  left: calc(50% - 137px);
  top: 244px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 56px 0px;
}
.content .text-content .btn .btn-star {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #3C64B1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 18px;
  position: static;
  height: 42px;
  left: calc(50% - 67.5px - 69.5px);
  flex: none;
  margin: 0px 24px;
}
.content .text-content .btn .btn-star:hover {
  background: aqua;
}
.content .text-content .btn .btn-learn {
  position: static;
  width: 115px;
  height: 42px;
  left: calc(50% - 57.5px + 79.5px);
  top: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 24px;
  color: #3C64B1;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 18px;
  border: 1px solid #3C64B1;
}
.content .text-content .btn .btn-learn:hover {
  background: aqua;
}

.main1 {
  text-align: center;
  position: absolute;
  align-items: center;
  height: 86px;
  top: 713px;
}
.main1 a:hover {
  color: aqua;
  height: 0;
  opacity: 1;
}
.main1 h3 {
  position: static;
  letter-spacing: 0.1px;
  height: 40px;
  left: calc(50% - 460px);
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
  color: #373F41;
  text-align: center;
  letter-spacing: 0.1px;
  /* H3 - bold 32 (40, 0.1px) */
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}
.main1 p {
  /* We help the world’s leading organizations follow their shipping */
  position: static;
  left: calc(50% - 460px);
  top: 64px;
  bottom: 0px;
  /* Body 1 - regular 16 (22, 0.3px) */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */
  text-align: center;
  letter-spacing: 0.3px;
  /* Light / Gray dark */
  color: #737B7D;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}
.main1 .main2 {
  width: 1110px;
  height: 204px;
  margin: 33px;
  position: static;
  top: 47px;
}
.main1 .main2 .item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 270px;
  height: 231px;
  opacity: 0.6;
}
.main1 .main2 .item1 h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  text-align: center;
  letter-spacing: 0.1px;
  /* Light / Black */
  color: #373F41;
}
.main1 .main2 .item1 img {
  position: static;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: 0px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}
.main1 .main2 .item1 .text-item {
  position: static;
  left: 0px;
  right: 0px;
  top: 36px;
  bottom: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  text-align: center;
  letter-spacing: 0.2px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}
.main1 .main2 .item1 .text-click {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0px;
  position: static;
  height: 42px;
  left: 145px;
  right: 145px;
  bottom: 0px;
  color: #3C64B1;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 22px 0px;
}
.main1 .main2 .item2 {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 270px;
  height: 204px;
  left: calc(60% - 287px);
}
.main1 .main2 .item2 img {
  position: static;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: 0px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}
.main1 .main2 .item2 .text-item {
  position: static;
  left: 0px;
  right: 0px;
  top: 36px;
  bottom: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  text-align: center;
  letter-spacing: 0.2px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}
.main1 .main2 .item2 .text-click {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0px;
  position: static;
  height: 42px;
  left: 145px;
  right: 145px;
  bottom: 0px;
  /* Inside auto layout */
  flex: none;
  color: #3C64B1;
  order: 1;
  flex-grow: 0;
  margin: 22px 0px;
}
.main1 .main2 .item3 {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 270px;
  height: 204px;
  left: calc(60% - 155px + 247px);
}
.main1 .main2 .item3 h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.main1 .main2 .item3 img {
  position: static;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: 0px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}
.main1 .main2 .item3 .text-item {
  position: static;
  left: 0px;
  right: 0px;
  top: 36px;
  bottom: 0px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  text-align: center;
  letter-spacing: 0.2px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}
.main1 .main2 .item3 .text-click {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0px;
  position: static;
  color: #3C64B1;
  height: 42px;
  left: 145px;
  right: 145px;
  bottom: 0px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 22px 0px;
}

@media all and (min-width: 320px) {
  .logo {
    width: 60px;
    display: block;
  }

  .content {
    max-width: auto;
    align-items: center;
  }

  .text-content {
    max-width: auto;
  }

  .btn {
    display: block;
  }

  h2 {
    size: 10px;
  }
}
@media all and (max-width: 768px) {
  .main1 .text-main1 {
    margin-left: -35%;
    white-space: nowrap;
  }

  .content {
    width: auto;
  }
  .content P {
    width: 530px;
  }

  .main2 {
    max-width: auto;
    display: list-item;
    align-items: center;
  }
  .main2 h2 {
    font-size: 37px;
  }
  .main2 .item1 {
    margin-left: 3%;
  }
  .main2 .item2 {
    margin-left: 3%;
  }
  .main2 .item3 {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .menu .logo {
    left: 20px;
  }
  .menu .btn #star {
    float: left;
    margin-left: -5%;
  }
  .menu .btn #login {
    float: left;
    margin-left: -9%;
  }

  .content {
    max-width: 100%;
  }

  .main2 {
    max-width: 1000px;
  }
}
.body2 {
  position: absolute;
  height: 440px;
  top: 1221px;
  display: flex;
  width: 1110px;
}
.body2 .col-ing {
  position: absolute;
  height: 440px;
  left: 0px;
  right: 570px;
  top: calc(50% - 220px);
}
.body2 .col-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 540px;
  height: 364px;
  right: 0px;
  top: -70px;
}
.body2 .col-text .content-body2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: static;
  width: 540px;
  height: 218px;
  left: 0px;
  top: 0px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 56px 0px;
}
.body2 .col-text .content-body2 h3 {
  position: static;
  height: 120px;
  left: 0px;
  right: 0px;
  top: calc(50% - 60px - 49px);
  /* H3 - bold 32 (40, 0.1px) */
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  letter-spacing: 0.1px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 32px 0px;
}
.body2 .col-text .content-body2 p {
  position: static;
  height: 66px;
  left: 0px;
  right: 0px;
  top: calc(50% - 33px + 76px);
  /* Body 1 - regular 16 (22, 0.3px) */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */
  letter-spacing: 0.3px;
  /* Light / Gray dark */
  color: #737B7D;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 32px 0px;
}
.body2 .col-text .seach {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: static;
  width: 540px;
  height: 90px;
  left: 0px;
  top: 274px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 56px 0px;
}
.body2 .col-text .seach .input-seach {
  position: static;
  width: 540px;
  height: 42px;
  left: 0px;
  top: 0px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
}
.body2 .col-text .seach .input-seach input {
  position: absolute;
  width: 377px;
  height: 42px;
  left: 0px;
}
.body2 .col-text .seach .input-seach input:hover {
  background-color: beige;
}
.body2 .col-text .seach .input-seach a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 18px;
  position: absolute;
  width: 139px;
  height: 42px;
  left: 401px;
  /* Accent / Default */
  background: #3C64B1;
  color: #FFFFFF;
  text-align: center;
}
.body2 .col-text .seach .input-seach a:hover {
  background-color: aqua;
}
.body2 .col-text .seach p {
  position: static;
  height: 32px;
  left: 0px;
  right: 0px;
  top: calc(50% - 16px + 29px);
  /* Small - semibold 12 (16, 0.2px) */
  font-size: 12px;
  line-height: 16px;
  /* or 133% */
  letter-spacing: 0.2px;
  /* Light / Gray dark */
  color: #737B7D;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
}

@media all and (max-width: 768px) {
  .body2 img {
    display: none;
  }
  .body2 .col-text {
    font-size: 28px;
    position: static;
    transform: translate(70px, -20%);
  }
}
@media screen and (max-width: 1024px) {
  .body2 {
    max-width: 100%;
  }
  .body2 img {
    max-width: 90%;
  }
  .body2 .col-text {
    max-width: 80%;
  }
  .body2 .col-text .content-body2 {
    width: 448px;
  }
  .body2 .col-text .seach {
    width: 475px;
  }
  .body2 .col-text .seach .input-seach input {
    margin-left: 10%;
    width: 270px;
  }
  .body2 .col-text .seach .input-seach a {
    width: 100px;
    left: 367px;
  }
}
.body3 {
  position: absolute;
  width: 1110px;
  height: 440px;
  top: 1775px;
}
.body3 .col-img {
  float: right;
}
.body3 .col-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 540px;
  height: 290px;
  top: calc(50% - 145px);
}
.body3 .col-text .content-body3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 540px;
  height: 290px;
  left: 0px;
  top: calc(50% - 242px);
}
.body3 .col-text .content-body3 h3 {
  float: left;
  position: static;
  height: 120px;
  left: 0px;
  right: 0px;
  top: calc(50% - 60px - 85px);
  letter-spacing: 0.1px;
  color: #373F41;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 56px 0px;
}
.body3 .item-body3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  height: 114px;
  left: 0px;
  right: 0px;
  top: 0px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 56px 0px;
}
.body3 .item-body3 .iteam-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 255px;
  height: 114px;
  left: 0px;
  top: 10px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 30px;
}
.body3 .item-body3 .iteam-box P {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.body3 .item-body3 .iteam-truck {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 255px;
  height: 114px;
  left: 285px;
  top: 0px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 30px;
}
.body3 .item-body3 .iteam-truck p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

@media all and (max-width: 768px) {
  .body3 .img-body3 {
    display: none;
  }
  .body3 .col-text {
    margin-left: 5%;
    text-align: center;
    margin-top: 2px;
    font-size: 28px;
    position: static;
    transform: translate(50px);
  }
  .body3 .col-text .item-body3 {
    margin: 0;
    align-items: center;
  }
  .body3 .col-text .item-body3 p {
    font-size: 17px;
  }
}
@media screen and (max-width: 1024px) {
  .body3 {
    max-width: 100%;
  }
  .body3 img {
    max-width: 90%;
  }
}
.body4 {
  position: absolute;
  top: 2250px;
}
.body4 .flex-container {
  max-width: 1110px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.body4 .flex-container div {
  background-color: #FFFFFF;
  width: 260px;
  height: 368px;
  margin: 30px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.body4 .flex-container h6 {
  position: static;
  height: 24px;
  left: 0px;
  right: 0px;
  bottom: 52px;
  /* H6 - bold 18 (24. 0.1px) */
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  text-align: center;
  letter-spacing: 0.1px;
  /* Light / Black */
  color: #373F41;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}
.body4 .flex-container p {
  position: static;
  height: 40px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* Body 2 - regular 14 (20, 0.2px) */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  text-align: center;
  letter-spacing: 0.2px;
  /* Light / Black */
  color: #373F41;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}

@media screen and (max-width: 320px) {
  .body4 .flex-container {
    display: grid;
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 768px) {
  .body4 {
    margin-top: -25%;
  }
  .body4 .flex-container {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 1024px) {
  .body4 {
    max-width: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
